@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
.b-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
}
.b-loader .b-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9;
}
.b-loader .b-loader {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
  width: 100px;
  height: 100px;
  background: red;
}
.b-loader .b-loader img {
  width: 100px;
}

@font-face {
  font-family: "Samsung";
  src: url("../fonts/SamsungSharpSans-Bold-UTF8.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.b-page-header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.b-page-header.sticky {
  display: none;
  position: fixed;
  width: 100%;
  background-color: #e74852;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 992px) {
  .b-page-header.sticky {
    display: block;
  }
}
.b-page-header .b-header-top {
  height: 30px;
  text-align: right;
}
.b-page-header .b-header-top .b-link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Samsung";
  text-decoration: none;
  font-size: 14px;
  align-self: center;
  margin-top: 15px;
}
.b-page-header .b-header-top .b-link:hover {
  color: #fff;
}
.b-page-header .b-header-bottom {
  display: block;
  padding: 5px 0;
}
.b-page-header .b-header-bottom .b-header-left {
  text-align: left;
  display: flex;
}
.b-page-header .b-header-bottom .b-header-left .b-logo img {
  width: 70px;
}
.b-page-header .b-header-bottom .b-header-left .b-page-nav {
  justify-content: center;
  margin-top: 24px;
}
.b-page-header .b-header-bottom .b-header-left .b-page-nav .b-open-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}
.b-page-header .b-header-bottom .b-header-left .b-page-nav .b-open-menu i {
  color: #fff;
  font-size: 30px;
}
.b-page-header .b-header-bottom .b-header-left .b-page-nav .b-list-item .b-item {
  display: inline;
  margin: 0 16px 0 16px;
}
.b-page-header .b-header-bottom .b-header-left .b-page-nav .b-list-item .b-item .b-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Samsung";
  font-size: 14px;
}
.b-page-header .b-header-bottom .b-header-left .b-page-nav .b-list-item .b-item .b-link:hover {
  color: #fff;
}
.b-page-header .b-header-bottom .b-header-right {
  text-align: right;
  margin-top: 15px;
  width: 100%;
}
.b-page-header .b-header-bottom .b-header-right .b-item {
  display: inline;
  margin: 0 0px 0 10px;
}
.b-page-header .b-header-bottom .b-header-right .b-item .b-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Samsung";
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 12px 0 8px 0;
  border-radius: 5px;
}
.b-page-header .b-header-bottom .b-header-right .b-item .b-link.b-register {
  display: inline-block;
  width: 170px;
  border: 1px solid rgba(254, 180, 182, 0.52);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.b-page-header .b-header-bottom .b-header-right .b-item .b-link.b-register:hover {
  border: 1px solid #fff;
}
.b-page-header .b-header-bottom .b-header-right .b-item .b-link:hover {
  color: #fff;
}

.site-mobile-menu {
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  z-index: 99999;
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
  text-align: center;
}
.offcanvas-menu .site-mobile-menu {
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ed2839;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-lang {
  position: absolute;
  left: 50%;
  top: 70%;
  border: 1px solid #e74852;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.site-mobile-menu .site-mobile-menu-lang .b-link {
  text-decoration: none;
  font-family: "Samsung";
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #ed2839;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #007bff;
  box-shadow: inset 0 0 6px #ff4e40;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  height: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@keyframes animationArrow {
  0% {
    top: 60%;
  }
  100% {
    top: 63%;
  }
}
::-moz-selection {
  color: #fff;
  background: #ed2839;
}

::selection {
  color: #fff;
  background: #ed2839;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}

.b-wrapper {
  background-image: url("../images/home/background-top.png");
  z-index: 1;
}

.b-page-main {
  overflow-x: hidden;
}

.b-page-index {
  position: relative;
}
.b-page-index.b-en .b-overate .b-content .b-text-title {
  line-height: 45px;
}

.b-main-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  background-image: -moz-linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  background-image: linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  padding: 100px 0 15px;
  overflow: hidden;
  display: flex;
}
.b-main-content .b-overate {
  position: relative;
  width: 50%;
  text-align: center;
}
.b-main-content .b-overate::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}
.b-main-content .b-overate .b-content .b-text-title {
  font-size: 35px;
  line-height: 79px;
  text-align: center;
  font-family: "Samsung";
  color: #fff;
  letter-spacing: 0;
}
.b-main-content .b-overate .b-content .b-text-norm {
  font-size: 16px;
  font-family: "roboto";
  line-height: 28px;
  max-width: 100%;
  width: 490px;
  margin: 0 auto 22px;
  color: #fff;
}
.b-main-content .b-overate .b-content .b-btn-find {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}
.b-main-content .b-overate .b-content .b-btn-find .b-link {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  width: 226px;
  border-radius: 120px;
  padding: 17px 0 12px 0;
  background-color: #fff;
  color: #000;
  font-family: "Samsung";
  letter-spacing: 0.5px;
  text-decoration: none;
}
.b-main-content .b-overate .b-content .b-btn-find .b-ripple {
  background-origin: center;
  transition: background 1s;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
}
.b-main-content .b-overate .b-content .b-btn-find .b-ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.b-main-content .b-overate .b-content .b-btn-find .b-ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 1s;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
}
.b-main-content .b-overate .b-images {
  position: absolute;
  top: 259px;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-main-content .b-overate .b-images img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.b-main-content .b-enterprise {
  position: relative;
  width: 50%;
  text-align: center;
}
.b-main-content .b-enterprise .b-content .b-text-title {
  font-size: 35px;
  line-height: 79px;
  text-align: center;
  font-family: "Samsung";
  color: #fff;
  letter-spacing: 0;
}
.b-main-content .b-enterprise .b-content .b-text-norm {
  font-size: 16px;
  font-family: "roboto";
  line-height: 28px;
  max-width: 100%;
  width: 490px;
  margin: 0 auto 22px;
  color: #fff;
}
.b-main-content .b-enterprise .b-content .b-btn-find {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}
.b-main-content .b-enterprise .b-content .b-btn-find .b-link {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  width: 226px;
  border-radius: 120px;
  padding: 17px 0 12px 0;
  background-color: #fff;
  color: #000;
  font-family: "Samsung";
  letter-spacing: 0.5px;
  text-decoration: none;
}
.b-main-content .b-enterprise .b-content .b-btn-find .b-ripple {
  background-origin: center;
  transition: background 1s;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
}
.b-main-content .b-enterprise .b-content .b-btn-find .b-ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.b-main-content .b-enterprise .b-content .b-btn-find .b-ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 1s;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
}
.b-main-content .b-enterprise .b-images {
  position: absolute;
  top: 259px;
  width: 100%;
  bottom: 0;
  display: flex;
  right: 0;
  align-items: flex-end;
  justify-content: flex-end;
}
.b-main-content .b-enterprise .b-images img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.b-page-hero {
  position: relative;
  background-image: url("../images/business/background-top.png");
  background-size: 100% 100%;
  height: 999px;
}
.b-page-hero.b-about {
  background-image: url("../images/about-us/Background_Header.png");
  background-repeat: no-repeat;
  height: 555px;
}
.b-page-hero.b-users {
  background-image: url("../images/home/top-banner.png");
  background-size: 1920px 70%;
  background-position: top center;
  background-repeat: no-repeat;
  height: 768px;
}
.b-page-hero.b-users.b-en .b-content {
  top: 40%;
}
.b-page-hero.b-users.b-en .b-content .b-text-title {
  width: 330px;
  font-size: 46px;
  line-height: 76px;
  word-wrap: break-word;
}
.b-page-hero.b-users.b-en .b-content .b-text-norm {
  width: 50%;
}
.b-page-hero.b-users.b-en .b-messeger {
  position: absolute;
  left: 20%;
  top: 70%;
}
.b-page-hero.b-users .b-content {
  position: absolute;
  left: 20%;
  top: 30%;
  background: transparent;
  transform: translate(-20%, -50%);
  -moz-transform: translate(-20%, -50%);
  -webkit-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  text-align: left;
}
.b-page-hero.b-users .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 36px;
}
.b-page-hero.b-users .b-content .b-text-norm {
  font-family: "roboto";
  width: 500px;
  word-wrap: break-word;
}
.b-page-hero.b-users .b-content .b-btn-messeger {
  position: relative;
  display: inline-block;
  width: 226px;
  padding: 16px 20px 12px 20px;
  background-image: -webkit-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  background-image: -moz-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  background-image: -o-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  background-image: linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-family: "Samsung";
  font-size: 18x;
  border-radius: 40px;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
}
.b-page-hero.b-users .b-content .b-btn-messeger i {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 30px;
}
.b-page-hero.b-users .b-ripple {
  background-origin: center;
  transition: background 1s;
}
.b-page-hero.b-users .b-ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.b-page-hero.b-users .b-ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.b-page-hero.b-users .b-scroll-bottom .b-link {
  color: #888888;
}
.b-page-hero.b-users .b-images {
  position: absolute;
  width: 60%;
  left: 60%;
  top: 55%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.b-page-hero.b-users .b-images img {
  width: 100%;
}
.b-page-hero .b-content {
  position: absolute;
  left: 50%;
  top: 20%;
  background: transparent;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.b-page-hero .b-content .b-text-title {
  color: #fff;
  font-family: "Samsung";
  font-size: 36px;
  line-height: 50px;
}
.b-page-hero .b-content .b-text-norm {
  color: #fff;
  font-family: "roboto";
  line-height: 30px;
}
.b-page-hero .b-watch {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.b-page-hero .b-watch .b-item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.b-page-hero .b-watch .b-item .b-link {
  display: inline-block;
  background: transparent;
  color: #000;
  text-decoration: none;
  font-family: "Samsung";
  font-size: 14px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  padding: 16px 20px 10px 20px;
  border-radius: 50px;
}
.b-page-hero .b-watch .b-item:hover .b-link {
  background-image: linear-gradient(-147deg, #ff516c 0, #ff5353 100%);
  color: #fff;
}
.b-page-hero .b-images {
  position: absolute;
  top: 80%;
  left: 50%;
  background: transparent;
  width: 80%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.b-page-hero .b-images img {
  width: 100%;
}
.b-page-hero .b-scroll-bottom {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  animation-name: animationArrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.b-page-hero .b-scroll-bottom .b-link {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 12px;
  font-family: "Samsung";
  letter-spacing: 2px;
}
.b-page-hero .b-scroll-bottom .b-link::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  font-size: 16px;
}

.b-page-customer {
  position: relative;
  padding: 50px 0 30px 0;
  margin-top: 150px;
}
.b-page-customer .b-heading {
  text-align: center;
}
.b-page-customer .b-heading .b-text-norm {
  width: 100%;
  margin: 0 auto;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 33px;
  font-family: "roboto";
}
.b-page-customer .b-complain {
  position: relative;
  margin-top: 50px;
}
.b-page-customer .b-complain .b-images img {
  width: 90%;
}
.b-page-customer .b-complain .b-content .b-text-title {
  color: #000;
  font-size: 18px;
  font-family: "Samsung";
}
.b-page-customer .b-complain .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  width: 60%;
}
.b-page-customer .b-solve .b-images img {
  width: 80%;
}
.b-page-customer .b-solve .b-content {
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px 10px;
}
.b-page-customer .b-solve .b-content .b-text-title {
  font-size: 18px;
  color: #ed2839;
  font-family: "Samsung";
}
.b-page-customer .b-solve .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  width: 60%;
  font-size: 16px;
}

.b-page-function {
  display: block;
  position: relative;
}
.b-page-function .b-block-function {
  display: flex;
  flex-wrap: wrap;
}
.b-page-function .b-block-function .b-function-left {
  width: 50%;
  align-self: center;
}
.b-page-function .b-block-function .b-function-left .b-images {
  width: 100%;
}
.b-page-function .b-block-function .b-function-left .b-images img {
  width: 100%;
}
.b-page-function .b-block-function .b-function-left .b-content {
  display: block;
}
.b-page-function .b-block-function .b-function-left .b-content .b-text-function {
  color: #e74852;
  font-family: "Samsung";
  font-size: 15px;
}
.b-page-function .b-block-function .b-function-left .b-content .b-text-title {
  color: #3e3e3e;
  font-size: "Samsung";
  font-size: 42px;
  font-weight: 700;
}
.b-page-function .b-block-function .b-function-left .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  font-size: 14px;
}
.b-page-function .b-block-function .b-function-right {
  width: 50%;
  align-self: center;
}
.b-page-function .b-block-function .b-function-right .b-images {
  width: 100%;
}
.b-page-function .b-block-function .b-function-right .b-images img {
  width: 100%;
}
.b-page-function .b-block-function .b-function-right .b-content {
  padding: 0 50px;
}
.b-page-function .b-block-function .b-function-right .b-content .b-text-function {
  color: #e74852;
  font-family: "Samsung";
  font-size: 15px;
}
.b-page-function .b-block-function .b-function-right .b-content .b-text-title {
  color: #3e3e3e;
  font-size: "Samsung";
  font-size: 42px;
  font-weight: 700;
}
.b-page-function .b-block-function .b-function-right .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  font-size: 14px;
}

.b-page-feature {
  display: block;
  position: relative;
}
.b-page-feature .b-block-function {
  display: flex;
  flex-wrap: wrap;
}
.b-page-feature .b-block-function:nth-child(2n+1) .b-function-left {
  width: 60%;
}
.b-page-feature .b-block-function:nth-child(2n+1) .b-function-right {
  width: 40%;
}
.b-page-feature .b-block-function:nth-child(2n+1) .b-function-right .b-content {
  padding-right: 100px;
}
.b-page-feature .b-block-function:nth-child(2n) .b-function-left {
  width: 40%;
}
.b-page-feature .b-block-function:nth-child(2n) .b-function-left .b-content {
  padding-left: 100px;
}
.b-page-feature .b-block-function:nth-child(2n) .b-function-right {
  width: 60%;
}
.b-page-feature .b-block-function .b-function-left {
  width: 50%;
  align-self: center;
}
.b-page-feature .b-block-function .b-function-left .b-images {
  width: 100%;
}
.b-page-feature .b-block-function .b-function-left .b-images img {
  width: 100%;
}
.b-page-feature .b-block-function .b-function-left .b-content {
  display: block;
}
.b-page-feature .b-block-function .b-function-left .b-content .b-text-function {
  color: #e74852;
  font-family: "Samsung";
  font-size: 15px;
}
.b-page-feature .b-block-function .b-function-left .b-content .b-text-title {
  color: #3e3e3e;
  font-size: "roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
}
.b-page-feature .b-block-function .b-function-left .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  font-size: 14px;
}
.b-page-feature .b-block-function .b-function-left .b-content .b-list-function .b-item {
  display: flex;
  line-height: 40px;
}
.b-page-feature .b-block-function .b-function-left .b-content .b-list-function .b-item .b-icon {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
}
.b-page-feature .b-block-function .b-function-left .b-content .b-list-function .b-item .b-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #e74852;
}
.b-page-feature .b-block-function .b-function-left .b-content .b-list-function .b-text-norm {
  margin-left: 10px;
}
.b-page-feature .b-block-function .b-function-right {
  width: 50%;
  align-self: center;
}
.b-page-feature .b-block-function .b-function-right .b-images {
  width: 100%;
}
.b-page-feature .b-block-function .b-function-right .b-images img {
  width: 100%;
}
.b-page-feature .b-block-function .b-function-right .b-content .b-text-function {
  color: #e74852;
  font-family: "Samsung";
  font-size: 15px;
}
.b-page-feature .b-block-function .b-function-right .b-content .b-text-title {
  color: #3e3e3e;
  font-size: "roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
}
.b-page-feature .b-block-function .b-function-right .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  font-size: 14px;
}
.b-page-feature .b-block-function .b-function-right .b-content .b-list-function .b-item {
  display: flex;
  line-height: 40px;
}
.b-page-feature .b-block-function .b-function-right .b-content .b-list-function .b-item .b-icon {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
}
.b-page-feature .b-block-function .b-function-right .b-content .b-list-function .b-item .b-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #e74852;
}
.b-page-feature .b-block-function .b-function-right .b-content .b-list-function .b-text-norm {
  margin-left: 10px;
}

.b-page-person {
  position: relative;
}
.b-page-person .b-heading {
  transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -webkit-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  text-align: center;
}
.b-page-person .b-heading .b-text-title {
  font-family: "Samsung";
  font-size: 36px;
}
.b-page-person .b-card {
  position: relative;
  cursor: pointer;
}
.b-page-person .b-card .b-images {
  width: 100%;
  overflow: hidden;
}
.b-page-person .b-card .b-images img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.b-page-person .b-card .b-images img:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.b-page-person .b-card .b-content {
  margin-top: 20px;
  text-align: center;
}
.b-page-person .b-card .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 26px;
}
.b-page-person .b-card .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
}
.b-page-person .b-tags {
  position: relative;
  background-image: url("../images/business/joy-connect.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.b-page-person .b-tags .b-item {
  position: absolute;
  left: 30%;
  top: 20%;
  cursor: pointer;
}
.b-page-person .b-tags .b-item:nth-child(1) {
  left: 55%;
}
.b-page-person .b-tags .b-item:nth-child(2) {
  left: 75%;
  top: 40%;
}
.b-page-person .b-tags .b-item:nth-child(2) .b-content {
  left: -310px;
}
.b-page-person .b-tags .b-item:nth-child(2) .b-content::after {
  content: "";
  left: 100%;
}
.b-page-person .b-tags .b-item .b-images {
  width: 100px;
  border-radius: 100%;
}
.b-page-person .b-tags .b-item .b-images:hover {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
}
.b-page-person .b-tags .b-item .b-images img {
  width: 100px;
  border-radius: 100%;
}
.b-page-person .b-tags .b-item .b-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
  padding: 5px;
  width: 300px;
  top: -30px;
  left: 120px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.b-page-person .b-tags .b-item .b-content::after {
  display: block;
  content: "";
  position: absolute;
  top: 30px;
  height: 30px;
  width: 30px;
  left: -15px;
  background-color: #fff;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  z-index: -1;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.b-page-person .b-tags .b-item .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 18px;
}
.b-page-person .b-tags .b-item .b-content .b-text-norm {
  font-family: "roboto";
  font-size: 16px;
}
.b-page-person .b-tags .b-item:hover .b-content {
  visibility: visible;
  opacity: 1;
}

.b-page-conenct {
  position: relative;
  background-image: url("../images/business/background-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
}
.b-page-conenct .b-content {
  text-align: center;
  transform: translate(0%, 70%);
  -moz-transform: translate(0%, 70%);
  -webkit-transform: translate(0%, 70%);
  -ms-transform: translate(0%, 70%);
}
.b-page-conenct .b-content .b-text-title {
  color: #fff;
  font-size: 36px;
  font-family: "Samsung";
}
.b-page-conenct .b-content .b-text-norm {
  color: #fff;
  font-family: "roboto";
  width: 70%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 30px;
}
.b-page-conenct .b-content .b-link {
  background-color: #fff;
  padding: 20px 50px 16px 50px;
  color: #000;
  font-family: "Samsung";
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.b-page-conenct .b-content .b-link:hover {
  color: #fff;
  background-color: #e74852;
}

.b-page-help {
  position: relative;
  padding: 50px 0;
}
.b-page-help .b-heading .b-text-norm {
  font-family: "roboto";
  font-size: 16px;
  color: #888888;
  font-weight: 700;
}
.b-page-help .b-heading .b-text-title {
  font-family: "Samsung";
  font-size: 26px;
}
.b-page-help .b-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.b-page-help .b-card .b-card-item {
  width: 20%;
  text-align: center;
}
.b-page-help .b-card .b-card-item .b-text-norm {
  font-family: "roboto";
  font-size: 16px;
  color: #888888;
}
.b-page-help .b-card .b-card-item .b-icon {
  width: 150px;
  margin: 0 auto;
}
.b-page-help .b-card .b-card-item .b-icon img {
  width: 100%;
}

.b-page-service {
  position: relative;
  height: 400px;
  background-image: url("../images/home/block-bottom-3.png");
  background-repeat: no-repeat;
  background-position: 10% 10%;
}
.b-page-service .b-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.b-page-service .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 34px;
  margin-bottom: 30px;
  width: 100%;
  word-wrap: break-word;
}
.b-page-service .b-content .b-btn-messeger {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  width: 200px;
  padding: 16px 20px 12px 20px;
  background-image: -webkit-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  background-image: -moz-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  background-image: -o-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  background-image: linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-family: "Samsung";
  font-size: 18x;
  border-radius: 40px;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
}
.b-page-service .b-content .b-btn-messeger i {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 30px;
}
.b-page-service .b-content .b-ripple {
  background-origin: center;
  transition: background 1s;
}
.b-page-service .b-content .b-ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.b-page-service .b-content .b-ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.b-page-business {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/home/bottom-banner.png");
  background-size: 100% 100%;
  padding: 100px 0 0 0;
}
.b-page-business .b-business-left {
  width: 50%;
}
.b-page-business .b-business-left img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.b-page-business .b-business-right {
  width: 50%;
  align-self: center;
}
.b-page-business .b-business-right .b-content {
  padding: 20px;
}
.b-page-business .b-business-right .b-content .b-text-title {
  font-family: "Samsung";
  line-height: 50px;
  font-size: 36px;
  color: #fff;
}
.b-page-business .b-business-right .b-content .b-text-norm {
  font-family: "roboto";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.b-page-business .b-business-right .b-content .b-link {
  position: relative;
  display: inline-block;
  width: 250px;
  border: 1px solid rgba(254, 180, 182, 0.52);
  text-align: center;
  padding: 16px 30px 14px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Samsung";
  color: #fff;
  font-size: 14px;
}
.b-page-business .b-business-right .b-content .b-link i {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.b-page-passion {
  padding: 50px 0;
}
.b-page-passion .b-images {
  margin-top: 30px;
}
.b-page-passion .b-images img {
  width: 100%;
}
.b-page-passion .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 36px;
}
.b-page-passion .b-content .b-text-norm {
  font-family: "roboto";
  font-size: 16px;
  line-height: 26px;
  padding: 0 30px;
}

.b-page-vision {
  position: relative;
  padding: 50px 0;
}
.b-page-vision .b-vision .b-heading .b-text-title {
  font-family: "Samsung";
  font-size: 36px;
}
.b-page-vision .b-vision .b-list-item {
  display: flex;
  flex-wrap: wrap;
}
.b-page-vision .b-vision .b-list-item .b-icon {
  width: 25%;
}
.b-page-vision .b-vision .b-list-item .b-icon img {
  width: 130px;
  height: 130px;
}
.b-page-vision .b-vision .b-list-item .b-content {
  width: 75%;
  margin-top: 35px;
}
.b-page-vision .b-vision .b-list-item .b-content .b-text-norm {
  font-family: "roboto";
  font-size: 18px;
}

.b-page-coe {
  position: relative;
  padding: 50px 0;
}
.b-page-coe .b-heading {
  transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -webkit-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
}
.b-page-coe .b-heading .b-text-title {
  font-family: "Samsung";
  font-size: 36px;
  font-weight: 700;
}
.b-page-coe .b-card {
  position: relative;
  cursor: pointer;
}
.b-page-coe .b-card .b-images {
  width: 100%;
  overflow: hidden;
}
.b-page-coe .b-card .b-images img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.b-page-coe .b-card .b-images img:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.b-page-coe .b-card .b-content {
  margin-top: 20px;
  text-align: center;
}
.b-page-coe .b-card .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 26px;
}
.b-page-coe .b-card .b-content .b-text-norm {
  color: #888888;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
}

.b-page-login {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.b-page-login .b-login {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  text-align: right;
}
.b-page-login .b-login .b-lang {
  position: relative;
  top: -15px;
}
.b-page-login .b-login .b-lang .b-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Samsung";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.b-page-login .b-login .b-register {
  display: flex;
}
.b-page-login .b-login .b-register .b-item .b-text-title {
  color: #fff;
  font-size: 18px;
  font-family: "roboto";
  padding-left: 10px;
  padding-right: 10px;
}
.b-page-login .b-login .b-register .b-item .b-link {
  padding: 10px 30px 10px 30px;
  border: 1px solid rgba(254, 180, 182, 0.52);
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-family: "roboto";
  cursor: pointer;
}
.b-page-login .b-page-signin {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 40%;
  width: 40%;
  height: 100%;
  background: #fff;
}
.b-page-login .b-page-signin .b-header {
  position: absolute;
  top: 20px;
  left: 20px;
}
.b-page-login .b-page-signin .b-header .b-logo img {
  width: 70px;
  cursor: pointer;
}
.b-page-login .b-page-signin .b-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.b-page-login .b-page-signin .b-content.b-login {
  top: 30%;
}
.b-page-login .b-page-signin .b-content .b-text-title {
  font-family: "Samsung";
  font-size: 26px;
}
.b-page-login .b-page-signin .b-content .b-form {
  position: relative;
  top: 30px;
}
.b-page-login .b-page-signin .b-content .b-form .b-form-group {
  width: 100%;
  margin-top: 20px;
}
.b-page-login .b-page-signin .b-content .b-form .b-form-group input[type=text],
.b-page-login .b-page-signin .b-content .b-form .b-form-group [type=password] {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgba(254, 180, 182, 0.52);
  font-family: "roboto";
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  outline: 0 !important;
  color: #888888;
}
.b-page-login .b-page-signin .b-content .b-form .b-form-group input[type=text]:focus,
.b-page-login .b-page-signin .b-content .b-form .b-form-group [type=password]:focus {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
}
.b-page-login .b-page-signin .b-content .b-form .b-form-group input[type=submit] {
  background-color: #ed2839;
  border: none;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
  padding: 12px 30px 10px 30px;
  border-radius: 50px;
  font-family: "roboto";
  color: #fff;
  cursor: pointer;
}
.b-page-login .b-page-signin .b-content .b-form .b-forget {
  position: relative;
  top: 30px;
  color: #888888;
  font-family: "roboto";
  font-size: 16px;
  text-decoration: none;
}
.b-page-login .b-page-intro {
  position: fixed;
  min-width: 60%;
  width: 60%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #6b7486;
}
.b-page-login .b-page-intro .b-header {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
  z-index: 999;
}
.b-page-login .b-page-intro .b-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
}
.b-page-login .b-page-intro .b-content .b-text-title {
  font-family: "Samsung";
  color: #fff;
  font-size: 36px;
}
.b-page-login .b-page-intro .b-content .b-text-norm {
  font-family: "roboto";
  font-size: 16px;
  color: #fff;
}
.b-page-login .b-page-intro .b-images {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}
.b-page-login .b-page-intro .b-images img {
  width: 100%;
}

.b-page-footer {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid #fff;
}
.b-page-footer.b-index {
  border: none;
  background-image: -webkit-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: -moz-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: -ms-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: -o-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
}
.b-page-footer.b-footer-main {
  background-image: -webkit-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: -moz-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: -ms-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: -o-linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
  background-image: linear-gradient(-180deg, #ed2839 12%, #e74852 68%, #ff4e40 100%);
}
.b-page-footer .b-logo {
  position: relative;
  text-align: right;
}
.b-page-footer .b-logo img {
  width: 50px;
}
.b-page-footer .b-logo img::selection {
  background-image: linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
}
@media screen and (max-width: 992px) {
  .b-page-footer .b-logo {
    text-align: center;
  }
}
.b-page-footer .b-content-footer {
  text-align: left;
  margin-top: 20px;
}
.b-page-footer .b-content-footer .b-text-norm {
  color: rgba(255, 255, 255, 0.7);
  font-family: "roboto";
  font-size: 12px;
}
.b-page-footer .b-content-footer .b-text-norm::selection {
  background-image: linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
}
@media screen and (max-width: 992px) {
  .b-page-footer .b-content-footer {
    text-align: center;
  }
}
.b-page-footer .b-page-nav {
  text-align: right;
}
.b-page-footer .b-page-nav .b-list-item .b-item {
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.b-page-footer .b-page-nav .b-list-item .b-item .b-link {
  color: #fff;
  font-size: 12px;
  font-family: "roboto";
}
.b-page-footer .b-page-nav .b-list-item .b-item .b-link::selection {
  background-image: linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
}
.b-page-footer .b-page-nav .b-list-item .b-item .b-link:hover {
  color: #fff;
}
.b-page-footer .b-page-nav .b-list-social {
  margin-top: 20px;
}
.b-page-footer .b-page-nav .b-list-social .b-item {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.b-page-footer .b-page-nav .b-list-social .b-item i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ff4e40;
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  .b-page-footer .b-page-nav {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .b-page-index .b-main-content {
    position: relative;
    flex-wrap: wrap;
  }
  .b-page-index .b-main-content .b-overate {
    width: 100%;
    margin-bottom: 20px;
  }
  .b-page-index .b-main-content .b-overate::after {
    visibility: hidden;
    opacity: 0;
  }
  .b-page-index .b-main-content .b-overate .b-images {
    position: relative;
    top: 0px;
  }
  .b-page-index .b-main-content .b-enterprise {
    width: 100%;
  }
  .b-page-index .b-main-content .b-enterprise .b-images {
    position: relative;
    top: 0px;
  }
}

@media screen and (max-width: 992px) {
  .b-page-hero .b-watch {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .b-page-function {
    margin-bottom: 30px;
  }
  .b-page-function .b-images {
    margin-top: 140px;
  }
  .b-page-function .b-function {
    margin-top: 50px;
  }
}

@media screen and (max-width: 992px) {
  .b-page-person {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .b-page-feature .b-block-function:nth-child(2n+1) {
    flex-direction: column;
  }
  .b-page-feature .b-block-function:nth-child(2n+1) .b-function-left {
    width: 100%;
  }
  .b-page-feature .b-block-function:nth-child(2n+1) .b-function-right {
    width: 100%;
  }
  .b-page-feature .b-block-function:nth-child(2n+1) .b-function-right .b-content {
    padding-right: 10px;
  }
  .b-page-feature .b-block-function:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .b-page-feature .b-block-function:nth-child(2n) .b-function-left {
    width: 100%;
  }
  .b-page-feature .b-block-function:nth-child(2n) .b-function-left .b-content {
    padding-left: 10px;
  }
  .b-page-feature .b-block-function:nth-child(2n) .b-function-right {
    width: 100%;
  }
  .b-page-feature .b-block-function .b-function-right {
    width: 100%;
  }
  .b-page-feature .b-block-function .b-function-left {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .b-page-help .b-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .b-page-help .b-card .b-card-item {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .b-page-service {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .b-page-business .b-business-left {
    width: 100%;
  }
  .b-page-business .b-business-right {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .b-page-login .b-page-signin {
    width: 100%;
  }
  .b-page-login .b-page-signin.b-responsive {
    position: relative;
  }
  .b-page-login .b-page-signin .b-header {
    background-color: #e74852;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100px;
  }
  .b-page-login .b-page-signin .b-header .b-logo {
    margin-top: 10px;
    margin-left: 20px;
  }
  .b-page-login .b-page-signin .b-content {
    margin-top: 100px;
    padding: 30px 0;
  }
  .b-page-login .b-page-signin .b-content .b-form .b-form-group input[type=text],
.b-page-login .b-page-signin .b-content .b-form .b-form-group [type=password] {
    width: 60%;
  }
  .b-page-login .b-page-intro {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .b-page-login .b-login .b-lang {
    display: none;
  }
  .b-page-login .b-login .b-register .b-item .b-text-title {
    display: none;
  }
  .b-page-login .b-login .b-register .b-item .b-link {
    position: relative;
    top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
