::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $blue;
  box-shadow: inset 0 0 6px #ff4e40;
}
::-webkit-scrollbar-track {
  background-color: $white;
  height: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
p {
  &::selection {
    background: #ed2839;
  }
}
h3 {
  &::selection {
    background: #ed2839;
  }
}
a {
  &::selection {
    background: #ed2839;
  }
}
img {
  &::selection {
    background: transparent;
  }
}
.b-current {
  color: #e74852;
}
@keyframes animationArrow {
  0% {
    top: 60%;
  }
  100% {
    top: 63%;
  }
}
::-moz-selection {
  color: #fff;
  background: #ed2839;
}

::selection {
  color: #fff;
  background: #ed2839;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
.b-wrapper {
  background-image: url("../images/home/background-top.png");
  z-index: 1;
}

.b-index {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  background-image: -moz-linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  background-image: linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  .b-page-intro {
    position: relative;
    .b-overate {
      text-align: center;
      background-image: url("../images/index/img-1.png");
      background-repeat: no-repeat;
      background-size: 20%;
      background-position: bottom center;
      height: 450px;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: $color_white;
        right: 10px;
        top: 0;
      }
      .b-content {
        padding: 0 70px 0 0;
        width: 70%;
        margin: 0 auto;
        &.b-en {
          width: 100%;
          text-align: center;
          .b-text-title {
            width: 100%;
            word-wrap: break-word;
          }
          .b-text-norm {
            width: 80%;
            word-wrap: break-word;
            margin: 0 auto;
            margin-bottom: 30px;
          }
        }
        .b-text-title {
          color: $white;
          font-family: "Samsung";
          font-size: 36px;
        }
        .b-text-norm {
          margin-top: 20px;
          color: $white;
          font-family: "roboto";
          margin-bottom: 30px;
        }
        .b-link {
          background-color: $white;
          padding: 18px 50px 15px 50px;
          font-family: "Samsung";
          border-radius: 50px;
          color: $black;
          text-decoration: none;
          transition: background-image 1s ease-out;
        }
        .b-ripple {
          background-origin: center;
          transition: background 0.8s;
          &:hover {
            background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
          }
          &:active {
            background-color: #6eb9f7;
            background-size: 100%;
            transition: background 0s;
          }
        }
      }

      > .b-images {
        position: relative;
        width: 100%;
        left: 50%;
        top: 100%;
        @include tranform(translate(-50%, 10%));
        img {
          width: 200px;
        }
      }
    }
    .b-enterprise {
      background-image: url("../images/index/img-2.png");
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: 100% 80%;
      height: 450px;
      width: 100%;

      .b-content {
        text-align: center;
        padding: 0 0px 0 0px;
        width: 60%;
        margin: 0 auto;
        &.b-en {
          .b-text-title {
            height: 80px;
          }
          .b-text-norm {
            width: 60%;
            margin: 0 auto;
            margin-bottom: 30px;
          }
        }
        .b-text-title {
          color: $white;
          font-family: "Samsung";
          font-size: 36px;
        }
        .b-text-norm {
          color: $white;
          font-family: "roboto";
          margin-bottom: 30px;
        }
        .b-link {
          background-color: $white;
          padding: 18px 50px 15px 50px;
          font-family: "Samsung";
          border-radius: 50px;
          color: $black;
          text-decoration: none;
        }
        .b-ripple {
          background-origin: center;
          transition: background 0.8s;
          &:hover {
            background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
          }
          &:active {
            background-color: #6eb9f7;
            background-size: 100%;
            transition: background 0s;
          }
        }
      }
      > .b-images {
        position: relative;
        width: 100%;
        @include tranform(translate(50%, 10%));
        img {
          width: 70%;
        }
      }
    }
  }
  .b-page-footer {
    border-top: none;
  }
}
.b-page-hero {
  position: relative;
  background-image: url("../images/business/background-top.png");
  background-size: 100% 100%;
  height: 999px;
  &.b-about {
    background-image: url("../images/about-us/Background_Header.png");
    background-repeat: no-repeat;
    height: 555px;
  }
  &.b-users {
    background-image: url("../images/home/top-banner.png");
    background-size: 1920px 70%;
    background-position: top center;
    background-repeat: no-repeat;
    height: 768px;
    &.b-en {
      .b-content {
        top: 40%;
        .b-text-title {
          width: 330px;
          font-size: 46px;
          line-height: 76px;
          word-wrap: break-word;
        }
        .b-text-norm {
          width: 50%;
        }
      }
      .b-messeger {
        position: absolute;
        left: 20%;
        top: 70%;
      }
    }
    .b-content {
      position: absolute;
      left: 20%;
      top: 30%;
      background: transparent;
      @include tranform(translate(-20%, -50%));
      text-align: left;
      .b-text-title {
        font-family: "Samsung";
        font-size: 36px;
      }
      .b-text-norm {
        font-family: "roboto";
        width: 500px;
        word-wrap: break-word;
      }
    }
    .b-messeger {
      position: absolute;
      left: 20%;
      top: 45%;
      @include tranform(translate(-50%, -50%));
      width: 200px;
      padding: 16px 20px 12px 20px;
      background-image: -webkit-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: -moz-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: -o-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      border-radius: 50px;
      text-align: center;
      cursor: pointer;
      &.b-en {
        top: 68%;
        left: 15%;
      }
      .b-btn-messeger {
        color: $white;
        font-family: "Samsung";
        font-size: 18x;
        border-radius: 40px;
        text-decoration: none;
        margin-left: 10px;
      }

      i {
        position: absolute;
        left: 30px;
        top: 10px;
        font-size: 30px;
        color: $white;
      }
    }
    .b-ripple {
      background-origin: center;
      transition: background 1s;
      &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
      }
      &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
      }
    }
    .b-scroll-bottom {
      .b-link {
        color: #888888;
      }
    }
    .b-images {
      position: absolute;
      width: 60%;
      left: 60%;
      top: 55%;
      @include tranform(translate(-50%, -50%));
      img {
        width: 100%;
      }
    }
  }
  .b-content {
    position: absolute;
    left: 50%;
    top: 20%;
    background: transparent;
    @include tranform(translate(-50%, -50%));
    text-align: center;
    .b-text-title {
      color: $white;
      font-family: "Samsung";
      font-size: 36px;
    }
    .b-text-norm {
      color: $white;
      font-family: "roboto";
    }
  }
  .b-watch {
    position: absolute;
    left: 50%;
    top: 35%;
    @include tranform(translate(-50%, -50%));
    .b-item {
      display: inline-block;
      width: 250px;
      height: 50px;
      background-color: $white;
      text-align: center;
      padding: 16px 10px 10px 10px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 50px;
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      .b-link {
        background: transparent;
        color: $black;
        text-decoration: none;
        font-family: "Samsung";
        font-size: 14px;
        width: 250px;
        height: 100%;
        @include transition(all 0.3s ease-in-out);
      }
      &:hover {
        background-color: #e74852;
        .b-link {
          color: $white;
        }
      }
    }
  }
  .b-images {
    position: absolute;
    top: 90%;
    left: 50%;
    background: transparent;
    width: 80%;
    @include tranform(translate(-50%, -50%));
    img {
      width: 100%;
    }
  }
  .b-scroll-bottom {
    position: absolute;
    right: 10px;
    top: 60%;
    @include tranform(rotate(-90deg));
    animation-name: animationArrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    .b-link {
      position: relative;
      color: $color_white;
      text-decoration: none;
      font-size: 12px;
      font-family: "Samsung";
      letter-spacing: 2px;
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f060";
        font-weight: 900;
        font-size: 16px;
      }
    }
  }
}
.b-page-customer {
  position: relative;
  padding: 50px 0 30px 0;
  margin-top: 150px;
  .b-heading {
    text-align: center;
    .b-text-norm {
      width: 100%;
      margin: 0 auto;
      font-size: 24px;
      letter-spacing: 1.5px;
      font-family: "Samsung";
    }
  }
  .b-complain {
    position: relative;
    margin-top: 50px;
    .b-images {
      img {
        width: 90%;
      }
    }
    .b-content {
      .b-text-title {
        color: $black;
        font-size: 18px;
        font-family: "Samsung";
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
        width: 60%;
      }
    }
  }
  .b-solve {
    .b-images {
      img {
        width: 80%;
      }
    }
    .b-content {
      margin-top: 50px;
      margin-left: 50px;
      padding: 10px 10px;
      .b-text-title {
        font-size: 18px;
        color: #ed2839;
        font-family: "Samsung";
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
        width: 60%;
        font-size: 16px;
      }
    }
  }
}
.b-page-function {
  position: relative;
  .b-images {
    width: 100%;
    text-align: center;
    img {
      width: 100%;
    }
  }
  &.b-business {
    .b-function {
      position: relative;
      @include tranform(translate(0%, 50%));
    }
  }
  .b-function {
    position: relative;
    @include tranform(translate(0%, 150%));
    .b-content {
      // width: 80%;
      padding: 0 40px 0 40px;
      .b-text-function {
        color: #e74852;
        font-family: "Samsung";
        font-size: 15px;
      }
      .b-text-title {
        color: $black;
        font-size: "Samsung";
        font-size: 42px;
        font-weight: 700;
      }
      > .b-text-norm {
        color: #888888;
        font-family: "roboto";
        font-size: 14px;
        width: 80%;
      }
      .b-list-function {
        .b-item {
          margin-top: 10px;
          .b-icon {
            display: inline-block;
            position: relative;
            width: 30px;
            height: 30px;
            background-color: $white;
            box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
            border-radius: 100%;
            @include tranform(translate(0, 10px));
            i {
              position: absolute;
              left: 50%;
              top: 50%;
              color: #e74852;
              @include tranform(translate(-50%, -50%));
            }
          }
          .b-text-norm {
            display: inline;
            margin-left: 10px;
            font-family: "roboto";
            font-size: 16px;
          }
        }
      }
    }
  }
}
.b-page-person {
  position: relative;
  .b-heading {
    @include tranform(translate(0, -20px));
    text-align: center;
    .b-text-title {
      font-family: "Samsung";
      font-size: 36px;
    }
  }
  .b-card {
    position: relative;
    cursor: pointer;
    .b-images {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include tranform(scale(1.2));
        }
      }
    }
    .b-content {
      margin-top: 20px;
      text-align: center;
      .b-text-title {
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
      }
    }
  }
  .b-tags {
    position: relative;
    background-image: url("../images/business/joy-connect.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    .b-item {
      position: absolute;
      left: 30%;
      top: 20%;
      &:nth-child(1) {
        left: 55%;
      }
      &:nth-child(2) {
        left: 75%;
        top: 40%;
        .b-content {
          left: -310px;
          &::after {
            content: "\f0da";
            left: 100%;
          }
        }
      }
      cursor: pointer;
      .b-images {
        width: 100px;
        border-radius: 100%;
        &:hover {
          box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
        }
        img {
          width: 100px;
          border-radius: 100%;
        }
      }
      .b-content {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: $white;
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
        padding: 5px;
        width: 300px;
        top: -30px;
        left: 120px;
        border-radius: 4px;
        @include transition(all 0.3s ease-in-out);
        z-index: 9999;
        &::after {
          position: absolute;
          font-family: "Font Awesome 5 Free";
          content: "\f0d9";
          font-weight: 900;
          top: 30px;
          left: -10px;
          font-size: 26px;
          color: #e74852;
        }
        .b-text-title {
          font-family: "Samsung";
          font-size: 18px;
        }
        .b-text-norm {
          font-family: "roboto";
          font-size: 16px;
        }
      }
      &:hover {
        .b-content {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
.b-page-conenct {
  position: relative;
  background-image: url("../images/business/background-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  .b-content {
    text-align: center;
    @include tranform(translate(0%, 70%));
    .b-text-title {
      color: $white;
      font-size: 36px;
      font-family: "Samsung";
    }
    .b-text-norm {
      color: $white;
      font-family: "roboto";
      width: 70%;
      margin: 0 auto;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 30px;
    }
    .b-link {
      background-color: $white;
      padding: 20px 50px 16px 50px;
      color: $black;
      font-family: "Samsung";
      border-radius: 50px;
      font-size: 14px;
      text-decoration: none;
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
      @include transition(all 0.3s ease-in-out);
      &:hover {
        color: $white;
        background-color: #e74852;
      }
    }
  }
}
.b-page-help {
  position: relative;
  padding: 50px 0;
  .b-heading {
    .b-text-norm {
      font-family: "roboto";
      font-size: 16px;
      color: #888888;
      font-weight: 700;
    }
    .b-text-title {
      font-family: "Samsung";
      font-size: 26px;
    }
  }
  .b-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .b-card-item {
      width: 20%;
      text-align: center;
      .b-text-norm {
        font-family: "roboto";
        font-size: 16px;
        color: #888888;
      }
      .b-icon {
        width: 150px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
  }
}
.b-page-service {
  position: relative;
  height: 400px;
  background-image: url("../images/home/block-bottom-3.png");
  background-repeat: no-repeat;
  background-position: 10% 10%;
  .b-content {
    position: absolute;
    left: 50%;
    top: 50%;
    @include tranform(translate(-50%, -50%));
    text-align: center;
    .b-text-title {
      font-family: "Samsung";
      font-size: 34px;
      margin-bottom: 30px;
      width: 100%;
      word-wrap: break-word;
    }
    .b-messeger {
      position: absolute;
      left: 50%;
      top: 65%;
      @include tranform(translate(-50%, 80%));
      width: 200px;
      padding: 16px 20px 12px 20px;
      background-image: -webkit-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: -moz-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: -o-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      border-radius: 50px;
      text-align: center;
      cursor: pointer;

      .b-btn-messeger {
        color: $white;
        font-family: "Samsung";
        font-size: 18x;
        border-radius: 40px;
        text-decoration: none;
        margin-left: 10px;
      }

      i {
        position: absolute;
        left: 30px;
        top: 10px;
        font-size: 30px;
        color: $white;
      }
    }
    .b-ripple {
      background-origin: center;
      transition: background 1s;
      &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
      }
      &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}
.b-page-business {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/home/bottom-banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: auto;
  width: 100%;
  .b-images {
    margin-top: 50px;
    width: 50%;
  }
  .b-content {
    position: relative;
    margin-top: 50px;
    width: 50%;
    text-align: left;
    .b-info {
      position: absolute;
      left: 30%;
      top: 50%;
      @include tranform(translate(-50%, -50%));
      .b-text-title {
        color: $white;
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-text-norm {
        color: $color_white;
        font-family: "roboto";
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 260px;
        word-wrap: break-word;
      }
      .b-link {
        width: 250px;
        border: 0.5px solid $white;
        padding: 20px 20px 16px 20px;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        color: $white;
        font-family: "Samsung";
        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f061";
          font-weight: 900;
          font-size: 20px;
          padding: 10px;
        }
      }
    }
  }
}
.b-page-passion {
  padding: 50px 0;
  .b-images {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
  .b-content {
    .b-text-title {
      font-family: "Samsung";
      font-size: 36px;
    }
    .b-text-norm {
      font-family: "roboto";
      font-size: 16px;
      line-height: 26px;
      padding: 0 30px;
    }
  }
}
.b-page-vision {
  position: relative;
  padding: 50px 0;
  .b-vision {
    .b-heading {
      .b-text-title {
        font-family: "Samsung";
        font-size: 36px;
      }
    }
    .b-list-item {
      display: flex;
      flex-wrap: wrap;
      .b-icon {
        width: 25%;
        img {
          width: 130px;
          height: 130px;
        }
      }
      .b-content {
        width: 75%;
        margin-top: 35px;
        .b-text-norm {
          font-family: "roboto";
          font-size: 18px;
        }
      }
    }
  }
}
.b-page-coe {
  position: relative;
  padding: 50px 0;
  .b-heading {
    @include tranform(translate(0, -20px));
    .b-text-title {
      font-family: "Samsung";
      font-size: 36px;
      font-weight: 700;
    }
  }
  .b-card {
    position: relative;
    cursor: pointer;
    .b-images {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include tranform(scale(1.2));
        }
      }
    }
    .b-content {
      margin-top: 20px;
      text-align: center;
      .b-text-title {
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}
.b-page-login {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .b-login {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999;
    text-align: right;
    .b-lang {
      position: relative;
      top: -15px;
      .b-link {
        color: $color_white;
        font-family: "Samsung";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .b-register {
      display: flex;
      .b-item {
        .b-text-title {
          color: $white;
          font-size: 18px;
          font-family: "roboto";
          padding-left: 10px;
          padding-right: 10px;
        }
        .b-link {
          padding: 10px 30px 10px 30px;
          border: 1px solid $white;
          border-radius: 5px;
          text-decoration: none;
          color: $white;
          font-family: "roboto";
          cursor: pointer;
        }
      }
    }
  }
  .b-page-signin {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 40%;
    width: 40%;
    height: 100%;
    background: $white;
    .b-header {
      position: absolute;
      top: 20px;
      left: 20px;
      .b-logo {
        img {
          width: 70px;
          cursor: pointer;
        }
      }
    }
    .b-content {
      position: absolute;
      width: 80%;
      left: 50%;
      top: 50%;
      @include tranform(translate(-50%, -50%));
      text-align: center;
      &.b-login {
        top: 30%;
      }
      .b-text-title {
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-form {
        position: relative;
        top: 30px;
        .b-form-group {
          width: 100%;
          margin-top: 20px;
          input[type="text"],
          [type="password"] {
            width: 80%;
            height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #888888;
            font-family: "roboto";
            @include transition(all 0.3s ease-in-out);
            outline: 0 !important;
            color: #888888;
            &:focus {
              box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
            }
          }
          input[type="submit"] {
            background-color: #ed2839;
            border: none;
            box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
            padding: 12px 30px 10px 30px;
            border-radius: 50px;
            font-family: "roboto";
            color: $white;
            cursor: pointer;
          }
        }
        .b-forget {
          position: relative;
          top: 30px;
          color: #888888;
          font-family: "roboto";
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
  }
  .b-page-intro {
    position: fixed;
    min-width: 60%;
    width: 60%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #6b7486;

    .b-header {
      position: absolute;
      right: 20px;
      top: 20px;
      text-align: right;
      z-index: 999;
    }
    .b-content {
      position: absolute;
      left: 50%;
      top: 50%;
      @include tranform(translate(-50%, -50%));
      text-align: center;
      z-index: 999;
      .b-text-title {
        font-family: "Samsung";
        color: $white;
        font-size: 36px;
      }
      .b-text-norm {
        font-family: "roboto";
        font-size: 16px;
        color: $white;
      }
    }
    .b-images {
      position: absolute;
      bottom: 0%;
      left: 50%;
      width: 100%;
      @include tranform(translate(-50%, 0%));
      img {
        width: 100%;
      }
    }
  }
}
