::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $blue;
  box-shadow: inset 0 0 6px #ff4e40;
}
::-webkit-scrollbar-track {
  background-color: $white;
  height: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@keyframes animationArrow {
  0% {
    top: 60%;
  }
  100% {
    top: 63%;
  }
}
::-moz-selection {
  color: #fff;
  background: #ed2839;
}

::selection {
  color: #fff;
  background: #ed2839;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
.b-wrapper {
  background-image: url("../images/home/background-top.png");
  z-index: 1;
}
.b-page-main {
  overflow-x: hidden;
}

.b-page-index {
  position: relative;
  &.b-en {
    .b-overate {
      .b-content {
        .b-text-title {
          line-height: 45px;
        }
      }
    }
  }
}

.b-main-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  background-image: -moz-linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  background-image: linear-gradient(-180deg, #ff4e40 5%, #e74852 48%, #ed2839 100%);
  padding: 100px 0 15px;
  overflow: hidden;
  display: flex;
  .b-overate {
    position: relative;
    width: 50%;
    text-align: center;
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: $white;
    }
    .b-content {
      .b-text-title {
        font-size: 35px;
        line-height: 79px;
        text-align: center;
        font-family: "Samsung";
        color: $white;
        letter-spacing: 0;
      }
      .b-text-norm {
        font-size: 16px;
        font-family: "roboto";
        line-height: 28px;
        max-width: 100%;
        width: 490px;
        margin: 0 auto 22px;
        color: $white;
      }
      .b-btn-find {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        .b-link {
          display: inline-block;
          font-size: 13px;
          text-transform: uppercase;
          position: relative;
          text-align: center;
          width: 226px;
          border-radius: 120px;
          padding: 17px 0 12px 0;
          background-color: $white;
          color: $black;
          font-family: "Samsung";
          letter-spacing: 0.5px;
          text-decoration: none;
        }
        .b-ripple {
          background-origin: center;
          @include transition(background 1s);
          &:hover {
            background: $white radial-gradient(circle, transparent 1%, $white 1%) center/15000%;
          }
          &:active {
            background-color: #6eb9f7;
            background-size: 100%;
            @include transition(background 1s);
          }
        }
      }
    }
    .b-images {
      position: absolute;
      top: 259px;
      width: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  .b-enterprise {
    position: relative;
    width: 50%;
    text-align: center;
    .b-content {
      .b-text-title {
        font-size: 35px;
        line-height: 79px;
        text-align: center;
        font-family: "Samsung";
        color: $white;
        letter-spacing: 0;
      }
      .b-text-norm {
        font-size: 16px;
        font-family: "roboto";
        line-height: 28px;
        max-width: 100%;
        width: 490px;
        margin: 0 auto 22px;
        color: $white;
      }
      .b-btn-find {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        .b-link {
          display: inline-block;
          font-size: 13px;
          text-transform: uppercase;
          position: relative;
          text-align: center;
          width: 226px;
          border-radius: 120px;
          padding: 17px 0 12px 0;
          background-color: $white;
          color: $black;
          font-family: "Samsung";
          letter-spacing: 0.5px;
          text-decoration: none;
        }
        .b-ripple {
          background-origin: center;
          @include transition(background 1s);
          &:hover {
            background: $white radial-gradient(circle, transparent 1%, $white 1%) center/15000%;
          }
          &:active {
            background-color: #6eb9f7;
            background-size: 100%;
            @include transition(background 1s);
          }
        }
      }
    }
    .b-images {
      position: absolute;
      top: 259px;
      width: 100%;
      bottom: 0;
      display: flex;
      right: 0;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}

.b-page-hero {
  position: relative;
  background-image: url("../images/business/background-top.png");
  background-size: 100% 100%;
  height: 999px;
  &.b-about {
    background-image: url("../images/about-us/Background_Header.png");
    background-repeat: no-repeat;
    height: 555px;
  }
  &.b-users {
    background-image: url("../images/home/top-banner.png");
    background-size: 1920px 70%;
    background-position: top center;
    background-repeat: no-repeat;
    height: 768px;
    &.b-en {
      .b-content {
        top: 40%;
        .b-text-title {
          width: 330px;
          font-size: 46px;
          line-height: 76px;
          word-wrap: break-word;
        }
        .b-text-norm {
          width: 50%;
        }
      }
      .b-messeger {
        position: absolute;
        left: 20%;
        top: 70%;
      }
    }
    .b-content {
      position: absolute;
      left: 20%;
      top: 30%;
      background: transparent;
      @include tranform(translate(-20%, -50%));
      text-align: left;
      .b-text-title {
        font-family: "Samsung";
        font-size: 36px;
      }
      .b-text-norm {
        font-family: "roboto";
        width: 500px;
        word-wrap: break-word;
      }
      .b-btn-messeger {
        position: relative;
        display: inline-block;
        width: 226px;
        padding: 16px 20px 12px 20px;
        background-image: -webkit-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
        background-image: -moz-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
        background-image: -o-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
        background-image: linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        color: $white;
        font-family: "Samsung";
        font-size: 18x;
        border-radius: 40px;
        text-decoration: none;
        margin-left: 10px;
        text-align: center;
        i {
          position: absolute;
          left: 20%;
          top: 50%;
          @include tranform(translate(-50%, -50%));
          font-size: 30px;
        }
      }
    }

    .b-ripple {
      background-origin: center;
      transition: background 1s;
      &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
      }
      &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
      }
    }
    .b-scroll-bottom {
      .b-link {
        color: #888888;
      }
    }
    .b-images {
      position: absolute;
      width: 60%;
      left: 60%;
      top: 55%;
      @include tranform(translate(-50%, -50%));
      img {
        width: 100%;
      }
    }
  }
  .b-content {
    position: absolute;
    left: 50%;
    top: 20%;
    background: transparent;
    @include tranform(translate(-50%, -50%));
    text-align: center;
    .b-text-title {
      color: $white;
      font-family: "Samsung";
      font-size: 36px;
      line-height: 50px;
    }
    .b-text-norm {
      color: $white;
      font-family: "roboto";
      line-height: 30px;
    }
  }
  .b-watch {
    position: absolute;
    left: 50%;
    top: 35%;
    @include tranform(translate(-50%, -50%));
    .b-item {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      .b-link {
        display: inline-block;
        background: transparent;
        color: $black;
        text-decoration: none;
        font-family: "Samsung";
        font-size: 14px;
        width: 200px;
        text-align: center;
        background-color: $white;
        padding: 16px 20px 10px 20px;
        border-radius: 50px;
      }
      &:hover {
        .b-link {
          background-image: linear-gradient(-147deg, #ff516c 0, #ff5353 100%);
          color: $white;
        }
      }
    }
  }
  .b-images {
    position: absolute;
    top: 80%;
    left: 50%;
    background: transparent;
    width: 80%;
    @include tranform(translate(-50%, -50%));
    img {
      width: 100%;
    }
  }
  .b-scroll-bottom {
    position: absolute;
    right: 10px;
    top: 60%;
    @include tranform(rotate(-90deg));
    animation-name: animationArrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    .b-link {
      position: relative;
      color: $color_white;
      text-decoration: none;
      font-size: 12px;
      font-family: "Samsung";
      letter-spacing: 2px;
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f060";
        font-weight: 900;
        font-size: 16px;
      }
    }
  }
}
.b-page-customer {
  position: relative;
  padding: 50px 0 30px 0;
  margin-top: 150px;
  .b-heading {
    text-align: center;
    .b-text-norm {
      width: 100%;
      margin: 0 auto;
      font-size: 23px;
      letter-spacing: 0px;
      line-height: 33px;
      font-family: "roboto";
    }
  }
  .b-complain {
    position: relative;
    margin-top: 50px;
    .b-images {
      img {
        width: 90%;
      }
    }
    .b-content {
      .b-text-title {
        color: $black;
        font-size: 18px;
        font-family: "Samsung";
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
        width: 60%;
      }
    }
  }
  .b-solve {
    .b-images {
      img {
        width: 80%;
      }
    }
    .b-content {
      margin-top: 50px;
      margin-left: 50px;
      padding: 10px 10px;
      .b-text-title {
        font-size: 18px;
        color: #ed2839;
        font-family: "Samsung";
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
        width: 60%;
        font-size: 16px;
      }
    }
  }
}
.b-page-function {
  display: block;
  position: relative;
  .b-block-function {
    display: flex;
    flex-wrap: wrap;
    .b-function-left {
      width: 50%;
      align-self: center;
      .b-images {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .b-content {
        display: block;
        // padding: 0 50px;
        .b-text-function {
          color: #e74852;
          font-family: "Samsung";
          font-size: 15px;
        }
        .b-text-title {
          color: #3e3e3e;
          font-size: "Samsung";
          font-size: 42px;
          font-weight: 700;
        }
        .b-text-norm {
          color: #888888;
          font-family: "roboto";
          font-size: 14px;
        }
      }
    }
    .b-function-right {
      width: 50%;
      align-self: center;
      .b-images {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .b-content {
        padding: 0 50px;
        .b-text-function {
          color: #e74852;
          font-family: "Samsung";
          font-size: 15px;
        }
        .b-text-title {
          color: #3e3e3e;
          font-size: "Samsung";
          font-size: 42px;
          font-weight: 700;
        }
        .b-text-norm {
          color: #888888;
          font-family: "roboto";
          font-size: 14px;
        }
      }
    }
  }
}
.b-page-feature {
  display: block;
  position: relative;
  .b-block-function {
    display: flex;
    flex-wrap: wrap;
    &:nth-child(2n + 1) {
      .b-function-left {
        width: 60%;
      }
      .b-function-right {
        width: 40%;
        .b-content {
          padding-right: 100px;
        }
      }
    }
    &:nth-child(2n) {
      .b-function-left {
        width: 40%;
        .b-content {
          padding-left: 100px;
        }
      }
      .b-function-right {
        width: 60%;
      }
    }
    .b-function-left {
      width: 50%;
      align-self: center;
      .b-images {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .b-content {
        display: block;
        .b-text-function {
          color: #e74852;
          font-family: "Samsung";
          font-size: 15px;
        }
        .b-text-title {
          color: #3e3e3e;
          font-size: "roboto";
          font-size: 36px;
          font-weight: 700;
          line-height: 70px;
        }
        .b-text-norm {
          color: #888888;
          font-family: "roboto";
          font-size: 14px;
        }
        .b-list-function {
          .b-item {
            display: flex;
            line-height: 40px;
            .b-icon {
              position: relative;
              padding-left: 10px;
              padding-right: 10px;
              display: inline-block;
              min-width: 40px;
              min-height: 40px;
              max-width: 40px;
              max-height: 40px;
              border-radius: 100%;
              box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
              i {
                position: absolute;
                left: 50%;
                top: 50%;
                @include tranform(translate(-50%, -50%));
                color: #e74852;
              }
            }
          }
          .b-text-norm {
            margin-left: 10px;
          }
        }
      }
    }
    .b-function-right {
      width: 50%;
      align-self: center;
      .b-images {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .b-content {
        .b-text-function {
          color: #e74852;
          font-family: "Samsung";
          font-size: 15px;
        }
        .b-text-title {
          color: #3e3e3e;
          font-size: "roboto";
          font-size: 36px;
          font-weight: 700;
          line-height: 70px;
        }
        .b-text-norm {
          color: #888888;
          font-family: "roboto";
          font-size: 14px;
        }
        .b-list-function {
          .b-item {
            display: flex;
            line-height: 40px;
            .b-icon {
              position: relative;
              padding-left: 10px;
              padding-right: 10px;
              display: inline-block;
              min-width: 40px;
              min-height: 40px;
              max-width: 40px;
              max-height: 40px;
              border-radius: 100%;
              box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
              i {
                position: absolute;
                left: 50%;
                top: 50%;
                @include tranform(translate(-50%, -50%));
                color: #e74852;
              }
            }
          }
          .b-text-norm {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.b-page-person {
  position: relative;
  .b-heading {
    @include tranform(translate(0, -20px));
    text-align: center;
    .b-text-title {
      font-family: "Samsung";
      font-size: 36px;
    }
  }
  .b-card {
    position: relative;
    cursor: pointer;
    .b-images {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include tranform(scale(1.2));
        }
      }
    }
    .b-content {
      margin-top: 20px;
      text-align: center;
      .b-text-title {
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
      }
    }
  }
  .b-tags {
    position: relative;
    background-image: url("../images/business/joy-connect.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    .b-item {
      position: absolute;
      left: 30%;
      top: 20%;
      &:nth-child(1) {
        left: 55%;
      }
      &:nth-child(2) {
        left: 75%;
        top: 40%;
        .b-content {
          left: -310px;
          &::after {
            content: "\f0da";
            left: 100%;
          }
        }
      }
      cursor: pointer;
      .b-images {
        width: 100px;
        border-radius: 100%;
        &:hover {
          box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
        }
        img {
          width: 100px;
          border-radius: 100%;
        }
      }
      .b-content {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: $white;
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
        padding: 5px;
        width: 300px;
        top: -30px;
        left: 120px;
        border-radius: 4px;
        @include transition(all 0.3s ease-in-out);
        z-index: 9999;
        &::after {
          display: block;
          content: "";
          position: absolute;
          top: 30px;
          height: 30px;
          width: 30px;
          left: -15px;
          background-color: $white;
          @include tranform(rotate(45deg));
          z-index: -1;
          border-left: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        .b-text-title {
          font-family: "Samsung";
          font-size: 18px;
        }
        .b-text-norm {
          font-family: "roboto";
          font-size: 16px;
        }
      }
      &:hover {
        .b-content {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
.b-page-conenct {
  position: relative;
  background-image: url("../images/business/background-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  .b-content {
    text-align: center;
    @include tranform(translate(0%, 70%));
    .b-text-title {
      color: $white;
      font-size: 36px;
      font-family: "Samsung";
    }
    .b-text-norm {
      color: $white;
      font-family: "roboto";
      width: 70%;
      margin: 0 auto;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 30px;
    }
    .b-link {
      background-color: $white;
      padding: 20px 50px 16px 50px;
      color: $black;
      font-family: "Samsung";
      border-radius: 50px;
      font-size: 14px;
      text-decoration: none;
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
      @include transition(all 0.3s ease-in-out);
      &:hover {
        color: $white;
        background-color: #e74852;
      }
    }
  }
}
.b-page-help {
  position: relative;
  padding: 50px 0;
  .b-heading {
    .b-text-norm {
      font-family: "roboto";
      font-size: 16px;
      color: #888888;
      font-weight: 700;
    }
    .b-text-title {
      font-family: "Samsung";
      font-size: 26px;
    }
  }
  .b-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .b-card-item {
      width: 20%;
      text-align: center;
      .b-text-norm {
        font-family: "roboto";
        font-size: 16px;
        color: #888888;
      }
      .b-icon {
        width: 150px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
  }
}
.b-page-service {
  position: relative;
  height: 400px;
  background-image: url("../images/home/block-bottom-3.png");
  background-repeat: no-repeat;
  background-position: 10% 10%;
  .b-content {
    position: absolute;
    left: 50%;
    top: 50%;
    @include tranform(translate(-50%, -50%));
    text-align: center;
    width: 100%;
    .b-text-title {
      font-family: "Samsung";
      font-size: 34px;
      margin-bottom: 30px;
      width: 100%;
      word-wrap: break-word;
    }
    .b-btn-messeger {
      position: absolute;
      left: 50%;
      top: 50%;
      @include tranform(translate(-50%, 100%));
      width: 200px;
      padding: 16px 20px 12px 20px;
      background-image: -webkit-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: -moz-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: -o-linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      background-image: linear-gradient(-176deg, #00c6ff 0, #0070ff 99%);
      border-radius: 50px;
      text-align: center;
      cursor: pointer;
      color: $white;
      font-family: "Samsung";
      font-size: 18x;
      border-radius: 40px;
      text-decoration: none;
      margin-left: 10px;
      text-align: center;
      i {
        position: absolute;
        left: 20%;
        top: 50%;
        @include tranform(translate(-50%, -50%));
        font-size: 30px;
      }
    }
    .b-ripple {
      background-origin: center;
      transition: background 1s;
      &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
      }
      &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}
.b-page-business {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/home/bottom-banner.png");
  background-size: 100% 100%;
  padding: 100px 0 0 0;
  .b-business-left {
    width: 50%;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .b-business-right {
    width: 50%;
    align-self: center;
    .b-content {
      padding: 20px;
      .b-text-title {
        font-family: "Samsung";
        line-height: 50px;
        font-size: 36px;
        color: $white;
      }
      .b-text-norm {
        font-family: "roboto";
        font-size: 16px;
        color: $color_white;
      }
      .b-link {
        position: relative;
        display: inline-block;
        width: 250px;
        border: 1px solid rgba(254, 180, 182, 0.52);
        text-align: center;
        padding: 16px 30px 14px 30px;
        border-radius: 50px;
        text-decoration: none;
        font-family: "Samsung";
        color: $white;
        font-size: 14px;
        i {
          position: absolute;
          right: 10px;
          top: 50%;
          font-size: 20px;
          @include tranform(translate(-50%, -50%));
        }
      }
    }
  }
}
.b-page-passion {
  padding: 50px 0;
  .b-images {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
  .b-content {
    .b-text-title {
      font-family: "Samsung";
      font-size: 36px;
    }
    .b-text-norm {
      font-family: "roboto";
      font-size: 16px;
      line-height: 26px;
      padding: 0 30px;
    }
  }
}
.b-page-vision {
  position: relative;
  padding: 50px 0;
  .b-vision {
    .b-heading {
      .b-text-title {
        font-family: "Samsung";
        font-size: 36px;
      }
    }
    .b-list-item {
      display: flex;
      flex-wrap: wrap;
      .b-icon {
        width: 25%;
        img {
          width: 130px;
          height: 130px;
        }
      }
      .b-content {
        width: 75%;
        margin-top: 35px;
        .b-text-norm {
          font-family: "roboto";
          font-size: 18px;
        }
      }
    }
  }
}
.b-page-coe {
  position: relative;
  padding: 50px 0;
  .b-heading {
    @include tranform(translate(0, -20px));
    .b-text-title {
      font-family: "Samsung";
      font-size: 36px;
      font-weight: 700;
    }
  }
  .b-card {
    position: relative;
    cursor: pointer;
    .b-images {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include tranform(scale(1.2));
        }
      }
    }
    .b-content {
      margin-top: 20px;
      text-align: center;
      .b-text-title {
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-text-norm {
        color: #888888;
        font-family: "roboto";
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}
.b-page-login {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .b-login {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999;
    text-align: right;
    .b-lang {
      position: relative;
      top: -15px;
      .b-link {
        color: $color_white;
        font-family: "Samsung";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .b-register {
      display: flex;
      .b-item {
        .b-text-title {
          color: $white;
          font-size: 18px;
          font-family: "roboto";
          padding-left: 10px;
          padding-right: 10px;
        }
        .b-link {
          padding: 10px 30px 10px 30px;
          border: 1px solid rgba(254, 180, 182, 0.52);
          border-radius: 5px;
          text-decoration: none;
          color: $white;
          font-family: "roboto";
          cursor: pointer;
        }
      }
    }
  }
  .b-page-signin {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 40%;
    width: 40%;
    height: 100%;
    background: $white;
    .b-header {
      position: absolute;
      top: 20px;
      left: 20px;
      .b-logo {
        img {
          width: 70px;
          cursor: pointer;
        }
      }
    }
    .b-content {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      @include tranform(translate(-50%, -50%));
      text-align: center;
      &.b-login {
        top: 30%;
      }
      .b-text-title {
        font-family: "Samsung";
        font-size: 26px;
      }
      .b-form {
        position: relative;
        top: 30px;
        .b-form-group {
          width: 100%;
          margin-top: 20px;
          input[type="text"],
          [type="password"] {
            width: 80%;
            height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid rgba(254, 180, 182, 0.52);
            font-family: "roboto";
            @include transition(all 0.3s ease-in-out);
            outline: 0 !important;
            color: #888888;
            &:focus {
              box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
            }
          }
          input[type="submit"] {
            background-color: #ed2839;
            border: none;
            box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
            padding: 12px 30px 10px 30px;
            border-radius: 50px;
            font-family: "roboto";
            color: $white;
            cursor: pointer;
          }
        }
        .b-forget {
          position: relative;
          top: 30px;
          color: #888888;
          font-family: "roboto";
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
  }
  .b-page-intro {
    position: fixed;
    min-width: 60%;
    width: 60%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #6b7486;

    .b-header {
      position: absolute;
      right: 20px;
      top: 20px;
      text-align: right;
      z-index: 999;
    }
    .b-content {
      position: absolute;
      left: 50%;
      top: 50%;
      @include tranform(translate(-50%, -50%));
      text-align: center;
      z-index: 999;
      .b-text-title {
        font-family: "Samsung";
        color: $white;
        font-size: 36px;
      }
      .b-text-norm {
        font-family: "roboto";
        font-size: 16px;
        color: $white;
      }
    }
    .b-images {
      position: absolute;
      bottom: 0%;
      left: 50%;
      width: 100%;
      @include tranform(translate(-50%, 0%));
      img {
        width: 100%;
      }
    }
  }
}
