.site-mobile-menu
    .site-mobile-menu-header
        .site-mobile-menu-close
            span.icon-close2.js-menu-toggle
                i.fas.fa-window-close
    .site-mobile-menu-body
    .site-mobile-menu-lang
header.b-page-header#b-page-header
    .container
        .row
            .col-lg-1
                .b-logo
                    a(href="#").b-link
                        img(src="./images/partial/logo.png", alt="Logo")
            .col-lg-6
                nav.b-page-nav
                    .b-open-menu.d-lg-none
                        a(href="#").site-menu-toggle.js-menu-toggle #[i.fas.fa-bars]
                    ul.b-list-item.js-clone-nav.d-lg-block
                        -var listItem = ['NGƯỜI DÙNG','DOANH NGHIỆP','FAQ','VỀ CHÚNG TÔI','BLOCK']
                        each item in listItem
                            li.b-item
                                a(href="#").b-link #{item}
            .col-lg-5
                .b-login.js-clone-lang.d-lg-block.d-none
                    .b-item-lang
                        a(href="#").b-link ENGLISH
                    .b-item
                        a(href="#").b-link ĐĂNG NHẬP
                    .b-item.is-active
                        a(href="#").b-link Đăng ký miễn phí
