doctype html
html(lang='en')
    include head/_site-head
    body
        include loader/_site-loader
        .b-wrapper
            .site-mobile-menu
                .site-mobile-menu-header
                    .site-mobile-menu-close
                        span.icon-close2.js-menu-toggle
                            i.fas.fa-window-close
                .site-mobile-menu-body
                .site-mobile-menu-lang
            header.b-page-header.b-bussiness#b-page-header
                .container
                    .row
                        .col-lg-1
                            .b-logo
                                a(href="index-en.html").b-link
                                    img(src="./images/partial/logo.png", alt="Logo")
                        .col-lg-6
                            nav.b-page-nav
                                .b-open-menu.d-lg-none
                                    a(href="#").site-menu-toggle.js-menu-toggle #[i.fas.fa-bars]
                                ul.b-list-item.js-clone-nav.d-lg-block
                                    -var listItem = [{item:'USER',link:'user-en.html'},{item:'BUSINESS',link:'bussiness-en.html'},{item:'FAQ',link:'bussiness.html'},{item:'ABOUT US',link:'about-en.html'},{item:'BLOCK',link:'bussiness.html'}] 
                                    each itemList in listItem
                                        li.b-item
                                            -var get = itemList.link
                                            a(href=get).b-link #{itemList.item}
                        .col-lg-5
                            .b-login.js-clone-lang.d-lg-block.d-none
                                .b-item-lang
                                    a(href="about.html").b-link VIETNAMSE
                                .b-item
                                    a(href="signin.html").b-link SIGN IN
                                .b-item.is-active
                                    a(href="signup-en.html").b-link Sign up
            section.b-page-hero.b-about
                .container
                    .b-scroll-bottom#top-menu
                        a(href="#vision").b-link CUỘN XUỐNG
            section.b-page-passion
                .container
                    .row
                        .col-lg-3.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            .b-content
                                h3.b-text-title From Passion, From Desire
                            .b-images
                                img(src="./images/about-us/Nhan_Tai_Dat_Viec.png", alt="nhanTai")
                        .col-lg-9.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                            .b-content
                                p.b-text-norm
                                    :verbatim
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                                        pariatur.

                                        Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo.
            section.b-page-vision#vision
                .container
                    .row
                        .col-lg-6
                            .b-vision
                                .b-heading
                                    h3.b-text-title VISION
                                .b-content
                                    .b-list-item.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                        .b-icon
                                            img(src="./images/about-us/Cong_Nghe.svg", alt="Cong")
                                        .b-content
                                            p.b-text-norm Technology 4.0 will change the way we live and work.
                                    .b-list-item.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                        .b-icon
                                            img(src="./images/about-us/Hieu_Qua_Cong_VIec.svg", alt="Cong")
                                        .b-content
                                            p.b-text-norm
                                                :verbatim
                                                    Working performance, life quality in a flat world is and will be a challenge for the whole society.     
                                    .b-list-item.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                        .b-icon
                                            img(src="./images/about-us/Dap_Ung.svg", alt="Cong")
                                        .b-content
                                            p.b-text-norm
                                                :verbatim
                                                    Timely responding to the customer's hidden desire. Easy to share
                        .col-lg-6
                            .b-vision
                                .b-heading
                                    h3.b-text-title GOAL
                                .b-content
                                    .b-list-item.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                        .b-icon
                                            img(src="./images/about-us/Tri_Tue_Nhan_Tao.svg", alt="Cong")
                                        .b-content
                                            p.b-text-norm
                                                :verbatim
                                                    Applying artificial intelligence, big data, IoT, and building a deeply personalized virtual assistant, daily supporting users in dining and entertainment.
                                    .b-list-item.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                        .b-icon
                                            img(src="./images/about-us/Khuyen_Cao.svg", alt="Cong")
                                        .b-content
                                            p.b-text-norm Smart recommendation for Healthy Eating.
                                    .b-list-item.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                        .b-icon
                                            img(src="./images/about-us/Thu_Nhap_Trai_Nghiem.svg", alt="Cong")
                                        .b-content
                                            p.b-text-norm Real-time collecting user experience, helping enterprises to relocate 5P (Product, Price, Person, Promotion, Place) and customers to relocate 5E (Entice, Enter, Engage, Exit, Expand)
            section.b-page-coe
                .container
                    .row
                        .col-lg-12
                            .b-heading
                                h3.b-text-title Development Team
                    .row
                        .col-lg-4
                            .b-card.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                .b-images
                                    img(src="./images/about-us/Oliver.png", alt="Overlight")
                                .b-content
                                    h3.b-text-title Bui Hoang KHoa Nguyen
                                    p.b-text-norm Founder
                        .col-lg-4
                            .b-card.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                .b-images
                                    img(src="./images/about-us/Oliver.png", alt="Overlight")
                                .b-content
                                    h3.b-text-title Bui Hoang KHoa Nguyen
                                    p.b-text-norm Founder
                        .col-lg-4
                            .b-card.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                .b-images
                                    img(src="./images/about-us/Oliver.png", alt="Overlight")
                                .b-content
                                    h3.b-text-title Bui Hoang KHoa Nguyen
                                    p.b-text-normm Founder
                        .col-lg-4
                            .b-card.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                .b-images
                                    img(src="./images/about-us/Oliver.png", alt="Overlight")
                                .b-content
                                    h3.b-text-title Bui Hoang KHoa Nguyen
                                    p.b-text-norm Founder
            footer.b-page-footer.b-footer-main
                .container
                    .row
                        .col-lg-1
                            .b-logo
                                img(src="./images/partial/logo.png", alt="Logo")
                        .col-lg-3
                            .b-content-footer
                                p.b-text-norm
                                    :verbatim
                                        &copy; 2017 GOnJoy. All Rights Reserved
                        .col-lg-6
                            nav.b-page-nav
                                ul.b-list-item.d-lg-block
                                    -var listItem = [{item:'USER',link:'user-en.html'},{item:'BUSINESS',link:'bussiness-en.html'},{item:'FAQ',link:'bussiness.html'},{item:'ABOUT US',link:'about-en.html'},{item:'BLOCK',link:'bussiness-en.html'}] 
                                    each itemList in listItem
                                        li.b-item
                                            -var get = itemList.link
                                            a(href=get).b-link #{itemList.item}
                        .col-lg-2
                            nav.b-page-nav
                                ul.b-list-social
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-facebook-f]
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-youtube]
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-google-plus-g]
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")