doctype html
html(lang='en')
    include head/_site-head
    body
        include loader/_site-loader
        .b-wrapper
            .site-mobile-menu
                .site-mobile-menu-header
                    .site-mobile-menu-close
                        span.icon-close2.js-menu-toggle
                            i.fas.fa-window-close
                .site-mobile-menu-body
                .site-mobile-menu-lang
            header.b-page-header.b-index#b-page-header
                .container
                    .b-header-top.d-lg-block.d-none
                            .b-item-lang
                                a(href="index.html").b-link VIETNAMESE
                    .b-header-bottom
                            .row
                                .col-lg-8
                                    .b-header-left
                                        .b-logo
                                            a(href="index-en.html").b-link
                                                img(src="./images/partial/logo.png", alt="Logo")
                                        nav.b-page-nav
                                            .b-open-menu.d-lg-none
                                                a(href="#").site-menu-toggle.js-menu-toggle #[i.fas.fa-bars]
                                            ul.b-list-item.js-clone-nav.d-lg-block.d-none
                                                            -var listItem = [{item:'USER',link:'user-en.html'},{item:'BUSINESS',link:'bussiness-en.html'},{item:'FAQ',link:'bussiness.html'},{item:'ABOUT US',link:'about-en.html'},{item:'BLOCK',link:'bussiness.html'}] 
                                                            each itemList in listItem
                                                                li.b-item
                                                                    -var get = itemList.link
                                                                    a(href=get).b-link #{itemList.item}
                                .col-lg-4
                                    .b-header-right
                                        .b-login.js-clone-lang.d-lg-block.d-none
                                            .b-item
                                                a(href="signin.html").b-link SIGN IN
                                            .b-item
                                                a(href="#").b-link.b-register Sign up
            section.b-page-hero#b-page-hero
                .container
                    .b-content
                        h3.b-text-title CONNECT WITH YOUR CUSTOMER ALL THE TIME
                        p.b-text-norm   Connect your customer 24/7.
                        p.b-text-norm  Support your business 24/7.
                    .b-watch
                        .b-item.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                            a(href="#").b-link Watch guide video
                        .b-item.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            a(href="#").b-link Free register
                    .b-images
                        img(src="./images/business/banner-top.png", alt="Bussiness")
                    .b-scroll-bottom#top-menu
                        a(href="#function").b-link SCROLL DOWN
            section.b-page-customer
                .container
                    .row
                        .col-lg-6.offset-lg-3
                            .b-heading
                                p.b-text-norm Recieve feedback from your customer effectively
                    .row
                        .col-lg-5
                            .b-complain.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                                .b-content
                                    h3.b-text-title Traditional Way
                                    p.b-text-norm Be easily distracted with burdens of messy feedback
                                .b-images
                                    img(src="./images/business/wwj-1.png", alt="WWWJ")
                        .col-lg-7
                            .b-solve.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                .b-images
                                    img(src="./images/business/wwj-2.png", alt="WWWJ")
                                .b-content
                                    h3.b-text-title With GonJoy
                                    p.b-text-norm
                                        :verbatim
                                            Automatic collect and analize customer's feedback in the real time to improve your service.
            section.b-page-feature#function
                .b-block-function
                    .b-function-left
                        .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            img(src="./images/business/block-1.png", alt="Table",style="width:100%")
                    .b-function-right  
                        .b-function
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h5.b-text-function Feature
                                h3.b-text-title Table booking
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                                        elementum in.
                                .b-list-function
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Manage your reservation booking effectively
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Conversational interface to adapt your customer demand quickly
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Remind your table reservations
                .b-block-function
                    .b-function-left
                        .b-function
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h5.b-text-function Feature
                                h3.b-text-title Shipping
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                                        elementum in.
                                .b-list-function
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Interact with your customer
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Connect with reliable shipper
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Track your shipping process
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Manage the quanity, quality and cost of delivery
                    .b-function-right
                        .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            img(src="./images/business/block-2.png", alt="Table",style="width:100%")
                .b-block-function
                    .b-function-left
                        .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            img(src="./images/business/block-1.png", alt="Table",style="width:100%")
                    .b-function-right  
                        .b-function
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h5.b-text-function Feature
                                h3.b-text-title Customer behaviour analysis
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                                        elementum in.
                                .b-list-function
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm A vitual marketing consultant
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Provide your customer behaviour analysis by the stunning diagrams
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Collect your customer database
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Communicate and satisfy customer directly
                .b-block-function
                    .b-function-left
                        .b-function
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h5.b-text-function Feature
                                h3.b-text-title Optimise your menu
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                                        elementum in.
                                .b-list-function
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Show off your menu in the friendly interface.
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Customize menu for your target or event
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Smart arrange your menu by date, price and best seller 
                    .b-function-right
                        .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            img(src="./images/business/block-2.png", alt="Table",style="width:100%")
                .b-block-function
                    .b-function-left
                        .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                            img(src="./images/business/block-3.png", alt="Table",style="width:100%") 
                    .b-function-right
                        .b-function
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h5.b-text-function Feature
                                h3.b-text-title Optimise your menu
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                                        elementum in.
                                .b-list-function
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Show off your menu in the friendly interface.
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Customize menu for your target or event
                                    .b-item
                                        .b-icon
                                            i.fas.fa-check
                                        p.b-text-norm Smart arrange your menu by date, price and best seller
                              
            section.b-page-person
                .b-heading
                    h3.b-text-title Over 500 service providers connect with Joy
                .b-tags
                    .b-item
                        .b-images
                            img(src="./images/business/people-1.jpg", alt="person",style='width:100px') 
                        .b-content
                            h3.b-tex-title Person One Support
                            p.b-text-norm
                                :verbatim
                                    orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                    sit amet.
                    .b-item
                        .b-images
                            img(src="./images/business/people-2.jpg", alt="person",style='width:100px') 
                        .b-content
                            h3.b-tex-title Person One Support
                            p.b-text-norm
                                :verbatim
                                    orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                    sit amet.
                    .b-item
                        .b-images
                            img(src="./images/business/people-3.jpg", alt="person",style='width:100px') 
                        .b-content
                            h3.b-tex-title Person One Support
                            p.b-text-norm
                                :verbatim
                                    orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                    sit amet.
            section.b-page-conenct
                .container
                    .col-lg-8.offset-lg-2
                        .b-content
                            h3.b-text-title.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s") CONNECT WITH YOUR CUSTOMER ALL THE TIME
                            p.b-text-norm.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                                :verbatim
                                    orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                    sit amet.
                            a(href="#").b-link Free register
            footer.b-page-footer.b-footer-main
                .container
                    .row
                        .col-lg-1
                            .b-logo
                                img(src="./images/partial/logo.png", alt="Logo")
                        .col-lg-3
                            .b-content-footer
                                p.b-text-norm
                                    :verbatim
                                        &copy; 2017 GOnJoy. All Rights Reserved
                        .col-lg-6
                            nav.b-page-nav
                                ul.b-list-item.d-lg-block
                                    -var listItem = [{item:'USER',link:'user-en.html'},{item:'BUSINESS',link:'bussiness-en.html'},{item:'FAQ',link:'bussiness.html'},{item:'ABOUT US',link:'about-en.html'},{item:'BLOCK',link:'bussiness.html'}] 
                                    each itemList in listItem
                                        li.b-item
                                            -var get = itemList.link
                                            a(href=get).b-link #{itemList.item}
                        .col-lg-2
                            nav.b-page-nav
                                ul.b-list-social
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-facebook-f]
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-youtube]
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-google-plus-g]
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")