doctype html
html(lang='en')
    include head/_site-head
    body
        include loader/_site-loader
        .b-page-login
            .b-login
                .b-lang
                    a(href="signin.html").b-link VIETNAMSE
                .b-register
                    .b-item
                        h3.b-text-title Do not have an account?
                    .b-item
                        a(href="signup-en.html").b-link Sign up
            .b-page-signin
                .b-header#b-page-header
                    .b-logo
                        a(href="#").b-link
                            img(src="./images/partial/logo.png", alt="Logo")
                .b-content.b-login
                    h3.b-text-title.b-form.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s") Signin
                    form(action="").b-form.b-form
                        .b-form-group.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                            input(type="text", placeholder="Account name")
                        .b-form-group.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                            input(type="password", placeholder="Password")
                        .b-form-group.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                            input(type="submit",value="Submit")
                        a(href="#").b-forget Fogot password?
            .b-page-intro
                .b-content
                    h3.b-text-title.b-form.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s") Connect with your customer all the time
                    p.b-text-norm.b-form.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")   Connect your customer 24/7.Support your business 24/7.
                .b-images
                    img(src="./images/form/Background.png", alt="BG")
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")