doctype html
html(lang='en')
    include head/_site-head
    body
        include loader/_site-loader
        .b-page-login
            .b-login
                .b-lang
                    a(href="singup.html").b-link VIETNAMSE
                .b-register
                    .b-item
                        h3.b-text-title Do you already have an account?
                    .b-item
                        a(href="signin.html").b-link Sign in
            .b-page-signin.b-responsive
                .b-header#b-page-header
                    .b-logo
                        a(href="index-en.html").b-link
                            img(src="./images/partial/logo.png", alt="Logo")
                .b-content
                    h3.b-text-title Register
                    form(action="").b-form
                        .b-form-group
                            input(type="text", placeholder="Account Name")
                        .b-form-group
                            input(type="text", placeholder="Password")
                        .b-form-group
                            input(type="text", placeholder="Confirm Password")
                        .b-form-group
                            input(type="text", placeholder="Name")
                        .b-form-group
                            input(type="text", placeholder="Email")
                        .b-form-group
                            input(type="password", placeholder="phone")
                        .b-form-group
                            input(type="password", placeholder="Address")
                        .b-form-group
                            input(type="submit",value="ĐĂNG NHẬP")
            .b-page-intro
                .b-content
                    h3.b-text-title Connect with your customer all the time
                    p.b-text-norm   Connect your customer 24/7.Support your business 24/7.
                .b-images
                    img(src="./images/form/Background.png", alt="BG")
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")