doctype html
html(lang='en')
    include head/_site-head
    body
        include loader/_site-loader
        .b-page-login
            .b-login
                .b-lang
                    a(href="signup-en.html").b-link ENGLISH
                .b-register
                    .b-item
                        h3.b-text-title Bạn chưa có tài khoản?
                    .b-item
                        a(href="signin.html").b-link Đăng Nhập
            .b-page-signin.b-responsive
                .b-header#b-page-header
                    .b-logo
                        a(href="#").b-link
                            img(src="./images/partial/logo.png", alt="Logo")
                .b-content
                    h3.b-text-title Đăng nhập
                    form(action="").b-form
                        .b-form-group
                            input(type="text", placeholder="Tài Khoản")
                        .b-form-group
                            input(type="text", placeholder="Tài Khoản")
                        .b-form-group
                            input(type="text", placeholder="Tài Khoản")
                        .b-form-group
                            input(type="text", placeholder="Tài Khoản")
                        .b-form-group
                            input(type="password", placeholder="Mật khẩu")
                        .b-form-group
                            input(type="submit",value="ĐĂNG NHẬP")
                        a(href="#").b-forget Quên mật khẩu?
            .b-page-intro
                .b-content
                    h3.b-text-title Kết nối với khách hàng của bạn
                    p.b-text-norm   Kết nối khách hàng của bạn 24/7. Hỗ trợ việc kinh doanh của bạn 24/7
                .b-images
                    img(src="./images/form/Background.png", alt="BG")
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")